body{
      background-color:  #c1c8e4;
      color: #333;
}
h1{
    cursor: pointer;
}

.carousel-inner{
    width: 100%;
    height: 440px;
    overflow: hidden; 
    object-fit:fill;
}
.black-overlay{
    position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height:100% !important;
      background-color: rgba(0, 0, 0, 0.4) !important; /* Black with transparency */
      background-blend-mode: saturation !important;
}
.shedow{
    background-color: #84ceeb6c !important;
}
.shedow:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.f-link{
    cursor: pointer;
}
b p{
    color: #333 !important;
}
b p span{
    color: #333 !important;
}
.btn{
    background-color:#8860d0 !important ;
}
.contact-box {
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      transition: all 0.3s ease;
}

.contact-icon {
      font-size: 28px;
      margin-bottom: 10px;
}

footer-menu {
      padding: 15px 0;
      text-align: center;
}
.footer-menu a {
      display: inline-block;
      margin: 8px 15px;
      font-weight: 500;
}

.modal-content {
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.modal-header {
      background-color: #5ab9ea;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
}

.modal-footer {
      justify-content: center;
}

a:hover{
      /* background-color: #8860d0; */
      color: azure !important;
      border-bottom: 1.5px solid azure !important;
}
@media (max-width: 576px) {
      .modal-dialog {
        margin: 10px;
      }

      .modal-content {
        font-size: 15px;
      }
}

@media only screen and (max-width: 600px) {
    .carousel-inner{
        height: auto;
    }
    
}
@media only screen and (max-width: 992px) {
     .carousel-inner{
        height: auto;
    }
}

@media (max-width: 768px) {
      .contact-box {
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 0;;
        }
         .carousel-inner{
        height: auto;
    }
      .contact-icon {
        margin-top: 0;
        font-size: 15px;
      }

      .footer-menu a {
        display: block;
        margin: 10px 0;
        font-size: 15px;
      }
}

@media (max-width: 480px) {
      .footer-menu {
        padding:0;
        text-align: center;
      }

      .footer-menu a {
        font-size: 14px;
      }
}